version: "3.8"

services:
  postgres:
    image: postgres:14-alpine
    container_name: blog-postgres
    environment:
      POSTGRES_DB: blog_article_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "15432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - blog-network

  mongo:
    image: mongo:7.0
    container_name: blog-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: blog_content_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - blog-network

  redis:
    image: redis:7-alpine
    container_name: blog-redis
    ports:
      - "6379:6379"
    networks:
      - blog-network

volumes:
  postgres_data:
  mongo_data:

networks:
  blog-network:
    driver: bridge